# Mediwhale Assignment

##

### 1. Settings

In [178]:
# load packages
import numpy as np
import pandas as pd

In [179]:
# load data
sc = pd.read_csv('../Data/samchild.csv')
sa = pd.read_csv('../Data/samadult.csv')
fm = pd.read_csv('../Data/familyxx.csv')

### 2. data check

In [180]:
# extract the necessary variables
fm2 = fm[['HHX', 'FMX', 'FM_STRCP', 'FSBALANC']]

sc2 = sc[['HHX', 'FMX', 'FPX', 'SEX', 'AGE_P', 'RACERPI2',
          'REGION', 'CHGHT_TC', 'CWGHT_TC', 'BMI_SC',
           'CCONDRR6']]

sa2 = sa[['HHX', 'FMX', 'FPX', 'SEX', 'AGE_P', 'RACERPI2',
          'REGION', 'HYPEV', 'HYPMED2',
          'CHLEV', 'CHLMDNW2', 'CHDEV', 'STREV',
          'DIBEV1', 'DIBPRE2', 'DIBAGE1', 'DIBPILL1',
          'INSLN1', 'KIDWKYR', 'PREGNOW', 'PREGFLYR', 'SMKEV',
          'SMKNOW', 'SMKQTTP', 'SMKQTNO', 'ALCAMT',
          'ALC12MWK', 'AHEIGHT', 'AWEIGHTP', 
          'BMI', 'ASICPUSE', 'ASISLEEP', 'DEP_1', 'DEP_2',
          'VIGFREQW','MODFREQW', 'STRFREQW']]

In [181]:
# details
fm2.dtypes

HHX         int64
FMX         int64
FM_STRCP    int64
FSBALANC    int64
dtype: object

In [182]:
sc2.dtypes

HHX           int64
FMX           int64
FPX           int64
SEX           int64
AGE_P         int64
RACERPI2      int64
REGION        int64
CHGHT_TC    float64
CWGHT_TC    float64
BMI_SC      float64
CCONDRR6      int64
dtype: object

In [183]:
sa2.dtypes

HHX           int64
FMX           int64
FPX           int64
SEX           int64
AGE_P         int64
RACERPI2      int64
REGION        int64
HYPEV         int64
HYPMED2     float64
CHLEV         int64
CHLMDNW2    float64
CHDEV         int64
STREV         int64
DIBEV1        int64
DIBPRE2     float64
DIBAGE1     float64
DIBPILL1    float64
INSLN1      float64
KIDWKYR       int64
PREGNOW     float64
PREGFLYR    float64
SMKEV         int64
SMKNOW      float64
SMKQTTP     float64
SMKQTNO     float64
ALCAMT      float64
ALC12MWK    float64
AHEIGHT       int64
AWEIGHTP      int64
BMI           int64
ASICPUSE      int64
ASISLEEP      int64
DEP_1         int64
DEP_2         int64
VIGFREQW      int64
MODFREQW      int64
STRFREQW      int64
dtype: object

In [184]:
# check NA
fm2.isna().sum()

HHX         0
FMX         0
FM_STRCP    0
FSBALANC    0
dtype: int64

In [185]:
sc2.isna().sum()

HHX            0
FMX            0
FPX            0
SEX            0
AGE_P          0
RACERPI2       0
REGION         0
CHGHT_TC    5185
CWGHT_TC    5185
BMI_SC      5185
CCONDRR6       0
dtype: int64

In [186]:
sa2.isna().sum().sort_values(ascending = False)

DIBAGE1     22482
INSLN1      20648
DIBPILL1    20648
CHLMDNW2    19447
PREGFLYR    19414
PREGNOW     19300
SMKQTNO     19134
SMKQTTP     19134
HYPMED2     17190
SMKNOW      15370
ALCAMT       8817
ALC12MWK     4665
DIBPRE2      2935
HHX             0
AHEIGHT         0
BMI             0
ASICPUSE        0
ASISLEEP        0
DEP_1           0
DEP_2           0
VIGFREQW        0
MODFREQW        0
AWEIGHTP        0
KIDWKYR         0
SMKEV           0
FMX             0
DIBEV1          0
STREV           0
CHDEV           0
CHLEV           0
HYPEV           0
REGION          0
RACERPI2        0
AGE_P           0
SEX             0
FPX             0
STRFREQW        0
dtype: int64

In [187]:
# describe data
fm2.describe()

                HHX           FMX      FM_STRCP      FSBALANC
count  30309.000000  30309.000000  30309.000000  30309.000000
mean   27644.028506      1.022073     23.906463      2.875647
std    16065.824933      0.202126     11.865978      0.440700
min        1.000000      1.000000     11.000000      1.000000
25%    13810.000000      1.000000     11.000000      3.000000
50%    27513.000000      1.000000     21.000000      3.000000
75%    41619.000000      1.000000     32.000000      3.000000
max    55563.000000      6.000000     99.000000      9.000000

In [188]:
sc2.describe()

,HHX,FMX,FPX,SEX,AGE_P,RACERPI2,REGION,CHGHT_TC,CWGHT_TC,BMI_SC,CCONDRR6
count,8269.000000,8269.000000,8269.000000,8269.000000,8269.000000,8269.000000,8269.000000,3084.000000,3084.000000,3084.000000,8269.000000
mean,27530.773249,1.001209,3.505623,1.475511,8.911839,1.643125,2.726085,68.777562,253.862192,2768.411803,1.999637
std,16067.323237,0.038078,1.078049,0.499430,5.314842,1.344408,1.009664,11.189046,300.460035,2011.603546,0.103751
min,4.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,49.000000,61.000000,79.000000,1.000000
25%,13489.000000,1.000000,3.000000,1.000000,4.000000,1.000000,2.000000,62.000000,114.000000,1920.000000,2.000000
50%,27540.000000,1.000000,3.000000,1.000000,9.000000,1.000000,3.000000,66.000000,135.000000,2167.000000,2.000000
75%,41427.000000,1.000000,4.000000,2.000000,14.000000,2.000000,4.000000,70.000000,175.000000,2585.000000,2.000000
max,55542.000000,3.000000,12.000000,2.000000,17.000000,6.000000,4.000000,99.000000,999.000000,9999.000000,9.000000

In [189]:
sa2.describe()

,HHX,FMX,FPX,SEX,AGE_P,RACERPI2,REGION,HYPEV,HYPMED2,CHLEV,...,AHEIGHT,AWEIGHTP,BMI,ASICPUSE,ASISLEEP,DEP_1,DEP_2,VIGFREQW,MODFREQW,STRFREQW
count,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,8227.000000,25417.000000,...,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000,25417.000000
mean,27697.721958,1.023095,1.371444,1.545580,51.688752,1.420073,2.676516,1.648660,1.104655,1.710233,...,68.794822,250.065822,3037.059645,3.166778,9.322579,4.394618,2.085101,52.128064,38.022465,66.274265
std,16089.330294,0.207037,0.668676,0.497928,18.338124,1.028510,1.008976,0.556761,0.337842,0.611275,...,8.385847,237.273920,1396.229777,1.378885,14.198576,1.277730,1.103349,45.513026,43.622715,42.446561
min,1.000000,1.000000,1.000000,1.000000,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,59.000000,100.000000,1171.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,13828.000000,1.000000,1.000000,1.000000,36.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,64.000000,150.000000,2378.000000,2.000000,6.000000,4.000000,2.000000,3.000000,3.000000,5.000000
50%,27513.000000,1.000000,1.000000,2.000000,53.000000,1.000000,3.000000,2.000000,1.000000,2.000000,...,67.000000,178.000000,2734.000000,4.000000,7.000000,5.000000,2.000000,95.000000,7.000000,95.000000
75%,41788.000000,1.000000,2.000000,2.000000,66.000000,1.000000,3.000000,2.000000,1.000000,2.000000,...,70.000000,215.000000,3188.000000,4.000000,8.000000,5.000000,2.000000,95.000000,95.000000,95.000000
max,55563.000000,6.000000,9.000000,2.000000,85.000000,6.000000,4.000000,9.000000,9.000000,9.000000,...,99.000000,999.000000,9999.000000,9.000000,99.000000,9.000000,9.000000,99.000000,99.000000,99.000000

### 3. Data outlier and NA values imputate

#### 1) familyxx.csv

In [190]:
fm2[fm2['HHX'] == 87]

    HHX  FMX  FM_STRCP  FSBALANC
50   87    1        12         3
51   87    2        12         3

In [191]:
fm2['FM_STRCP'].value_counts()

FM_STRCP
11    8797
21    6864
41    4027
23    3995
44    2331
22    1085
31    1067
12     718
42     461
43     346
45     323
32     223
33      68
99       4
Name: count, dtype: int64

In [192]:
# 동거인이 있으면 0 없으면 1 Unknown은 np.nan
fm2['live_alone'] = 1
fm2['live_alone'][fm2['FM_STRCP'] != 11] = 0
fm2['live_alone'][fm2['FM_STRCP'] == 99] = np.nan

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\1778966851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fm2['live_alone'] = 1
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\1778966851.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fm2['live_alone'][fm2['FM_STRCP'] != 11] = 0
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\1778966851.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fm2['live_alone'][fm2['FM_STRCP'] == 99] = np.nan

In [193]:
fm2['FSBALANC'].value_counts()

FSBALANC
3    27326
2     2023
1      934
7       17
9        9
Name: count, dtype: int64

In [194]:
# 불균형 식사가 이루어지면 1 안 이루어지면 0 결측치는 np.nan
fm2['imbal_meal'] = 1
fm2['imbal_meal'][fm2['FSBALANC'] == 3] = 0
fm2['imbal_meal'][fm2['FSBALANC'] == 7] = np.nan
fm2['imbal_meal'][fm2['FSBALANC'] == 9] = np.nan

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\515270356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fm2['imbal_meal'] = 1
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\515270356.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fm2['imbal_meal'][fm2['FSBALANC'] == 3] = 0
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\515270356.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fm2['imbal_meal'][fm2['FSBALANC'] == 7] = np.nan
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\515270356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fm2['imbal_meal'][fm2['FSBALANC'] == 9] = np.nan

In [195]:
# 사용한 열 제거
fm3 = fm2.drop(['FM_STRCP', 'FSBALANC'], axis=1)

#### 2) samples

- age, sex, region 문제 없음

In [196]:
sa2['RACERPI2'].value_counts()

RACERPI2
1    20173
2     2974
4     1350
6      563
3      295
5       62
Name: count, dtype: int64

In [197]:
# 분류하기 힘든 인종은 multiple race로 포함
sa2['RACERPI2'][sa2['RACERPI2'] == 6] = 5
sc2['RACERPI2'][sc2['RACERPI2'] == 6] = 5

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\2123038255.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['RACERPI2'][sa2['RACERPI2'] == 6] = 5
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\2123038255.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc2['RACERPI2'][sc2['RACERPI2'] == 6] = 5

In [198]:
sa2['HYPEV'].value_counts()

HYPEV
2    16153
1     9217
9       26
7       21
Name: count, dtype: int64

In [199]:
sa2['HYPMED2'].value_counts()

HYPMED2
1.0    7387
2.0     837
9.0       3
Name: count, dtype: int64

In [200]:
# 고혈압 2: 약물치료까지 병행, 1: 진단 받은적 있음 0: 진단도 받은적 없음

### 조건과 선택할 배열들 정의
condlist = [(sa2['HYPEV'] == 1) & (sa2['HYPMED2'] == 1),
            (sa2['HYPEV'] == 1),
            (sa2['HYPEV'] == 2)]
choicelist = [2, 1, 0]

### 조건에 따라 배열 선택
sa2['hypert'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\2834121679.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['hypert'] = np.select(condlist, choicelist, default=np.nan)

In [201]:
# 콜레스테롤 2: 약물치료까지 병행, 1: 진단 받은적 있음 0: 진단도 받은적 없음

### 조건과 선택할 배열들 정의
condlist = [(sa2['CHLEV'] == 1) & (sa2['CHLMDNW2'] == 1),
            (sa2['CHLEV'] == 1),
            (sa2['CHLEV'] == 2)]
choicelist = [2, 1, 0]

### 조건에 따라 배열 선택
sa2['chol'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3903829124.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['chol'] = np.select(condlist, choicelist, default=np.nan)

In [202]:
# 관상동맥질환 1: 진단 받은적 있음 0: 진단도 받은적 없음

### 조건과 선택할 배열들 정의
condlist = [(sa2['CHDEV'] == 1),
            (sa2['CHDEV'] == 2)]
choicelist = [1, 0]

### 조건에 따라 배열 선택
sa2['chdev'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\1513815538.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['chdev'] = np.select(condlist, choicelist, default=np.nan)

In [203]:
# 뇌졸중 1: 진단 받은적 있음 0: 진단도 받은적 없음

### 조건과 선택할 배열들 정의
condlist = [(sa2['STREV'] == 1),
            (sa2['STREV'] == 2)]
choicelist = [1, 0]

### 조건에 따라 배열 선택
sa2['strev'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\634238032.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['strev'] = np.select(condlist, choicelist, default=np.nan)

In [204]:
# 우울증 2: 약물치료까지 병행, 1: 진단 받은적 있음 0: 진단도 받은적 없음

### 조건과 선택할 배열들 정의
condlist = [(sa2['DEP_2'] == 1),
            (sa2['DEP_1'].isin([1, 2, 3])),
            (sa2['CHLEV'].isin([4, 5]))]
choicelist = [2, 1, 0]

### 조건에 따라 배열 선택
sa2['depress'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3140601439.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['depress'] = np.select(condlist, choicelist, default=np.nan)

In [205]:
### 임신상태 1: 최근까지 임신이었거나 현재 임신중 0: 아님
### 임신 변수 같은 경우 해당되는 사람 이외에는 아닌 경우로 취급

### 조건에 따라 선택
sa2['preg'] = np.where((sa2['PREGNOW'] == 1) | (sa2['PREGFLYR'] ==1), 1, 0)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\168064532.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['preg'] = np.where((sa2['PREGNOW'] == 1) | (sa2['PREGFLYR'] ==1), 1, 0)

In [206]:
sa2['KIDWKYR'].value_counts()

KIDWKYR
2    24668
1      721
9       15
7       13
Name: count, dtype: int64

In [207]:
# 신장 약화가 이루어지면 1 안 이루어지면 0 결측치는 np.nan
sa2['kidney'] = 1
sa2['kidney'][sa2['KIDWKYR'] == 2] = 0
sa2['kidney'][sa2['KIDWKYR'] == 7] = np.nan
sa2['kidney'][sa2['KIDWKYR'] == 9] = np.nan

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3979012661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['kidney'] = 1
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3979012661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['kidney'][sa2['KIDWKYR'] == 2] = 0
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3979012661.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['kidney'][sa2['KIDWKYR'] == 7] = np.nan
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3979012661.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['kidney'][sa2['KIDWKYR'] == 9] = np.nan

In [208]:
# 당뇨진단 2: 당뇨, 1: 당뇨전단계 0: 정상

### 조건과 선택할 배열들 정의
condlist = [(sa2['DIBEV1'] == 1),
            (sa2['DIBEV1'] == 3) | (sa2['DIBPRE2'] == 1),
            (sa2['DIBEV1'] == 2) | (sa2['DIBPRE2'] == 2)]
choicelist = [2, 1, 0]

### 조건에 따라 배열 선택
sa2['dm'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3908523558.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['dm'] = np.select(condlist, choicelist, default=np.nan)

In [209]:
# 1형 당뇨와 2형 당뇨 구분해보기

### 조건과 선택할 배열들 정의
condlist = []
choicelist = [2, 1, 0]

### 조건에 따라 배열 선택
sa2['dm'] = np.where((sa2['dm'] == 2) & (sa2['DIBAGE1'] < 18), 3, sa2['dm'])
sa2['heredity'] = np.where((sa2['dm'] == 3), 1, 0)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\1564949470.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['dm'] = np.where((sa2['dm'] == 2) & (sa2['DIBAGE1'] < 18), 3, sa2['dm'])
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\1564949470.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['heredity'] = np.where((sa2['dm'] == 3), 1, 0)

In [210]:
# 유전 가정만 따로 빼서 보관하기
here = sa2[['HHX', 'FMX', 'heredity']].groupby(['HHX', 'FMX']).max().reset_index()
here['heredity'].value_counts()

heredity
0    25254
1      163
Name: count, dtype: int64

In [211]:
sa2['SMKEV'].value_counts()

SMKEV
2    15292
1    10047
8       35
9       25
7       18
Name: count, dtype: int64

In [212]:
# 흡연 여부 1: 기 2: 아니

### 조건과 선택할 배열들 정의
condlist = [(sa2['SMKEV'] == 1) & (sa2['SMKNOW'] == 3) & (sa2['SMKQTTP'] == 4) &
            (sa2['SMKQTNO'] >= 5) & (sa2['SMKQTNO'] <= 96),
            (sa2['SMKEV'] == 1),
            (sa2['SMKEV'] == 2)]
choicelist = [0, 1, 0]

### 조건에 따라 배열 선택
sa2['smoke'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3193103298.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['smoke'] = np.select(condlist, choicelist, default=np.nan)

In [213]:
# 음주 여부 1: 음주 기준치 이상 2: 이하

### 조건과 선택할 배열들 정의
condlist = [((sa2['ALC12MWK'] == 95) | ((sa2['ALC12MWK'] >= 0) & (sa2['ALC12MWK'] <= 2))) &
            (sa2['ALCAMT'] >= 5),
            ((sa2['ALC12MWK'] == 95) | ((sa2['ALC12MWK'] >= 0) & (sa2['ALC12MWK'] <= 2))),
            (sa2['ALC12MWK'] >= 3) & (sa2['ALC12MWK'] <= 7)]
choicelist = [1, 0, 1]

### 조건에 따라 배열 선택
sa2['drink'] = np.select(condlist, choicelist, default=0)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\231527346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['drink'] = np.select(condlist, choicelist, default=0)

In [214]:
sa2['AHEIGHT'].value_counts()

AHEIGHT
66    2376
67    2146
64    2115
65    1923
63    1766
70    1759
68    1743
69    1691
62    1673
96    1543
72    1364
71    1249
61     887
60     771
73     770
74     624
59     312
75     306
76     180
98     133
99      53
97      33
Name: count, dtype: int64

In [215]:
# 키 inch를 cm로 바꾸기
sa2['height'] = np.where(sa2['AHEIGHT'].isin([96, 97, 98, 99]), np.nan, round(sa2['AHEIGHT']*2.54, 1))
sc2['height'] = np.where(sc2['CHGHT_TC'].isin([96, 97, 98, 99]), np.nan, round(sc2['CHGHT_TC']*2.54, 1))

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3839264352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['height'] = np.where(sa2['AHEIGHT'].isin([96, 97, 98, 99]), np.nan, round(sa2['AHEIGHT']*2.54, 1))
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3839264352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc2['height'] = np.where(sc2['CHGHT_TC'].isin([96, 97, 98, 99]), np.nan, round(sc2['CHGHT_TC']*2.54, 1))

In [216]:
# 몸무게 pound를 kg으로 바꾸기
sa2['weight'] = np.where(sa2['AWEIGHTP'].isin([996, 997, 998, 999]), np.nan, round(sa2['AWEIGHTP']*0.453592, 1))
sc2['weight'] = np.where(sc2['CWGHT_TC'].isin([996, 997, 998, 999]), np.nan, round(sc2['CWGHT_TC']*0.453592, 1))

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\4172822680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['weight'] = np.where(sa2['AWEIGHTP'].isin([996, 997, 998, 999]), np.nan, round(sa2['AWEIGHTP']*0.453592, 1))
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\4172822680.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc2['weight'] = np.where(sc2['CWGHT_TC'].isin([996, 997, 998, 999]), np.nan, round(sc2['CWGHT_TC']*0.453592, 1))

In [217]:
# bmi 계산하기
sa2['bmi'] = sa2['weight']/(sa2['height']**2)*100**2
sc2['bmi'] = sc2['weight']/(sc2['height']**2)*100**2

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\2817666150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['bmi'] = sa2['weight']/(sa2['height']**2)*100**2
C:\Users\abc\AppData\Local\Temp\ipykernel_25880\2817666150.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc2['bmi'] = sc2['weight']/(sc2['height']**2)*100**2

In [218]:
sa2['ASICPUSE'].value_counts()

ASICPUSE
4    15727
1     5386
2     2555
3     1381
8      353
7        8
9        7
Name: count, dtype: int64

In [219]:
# 컴퓨터 사용정도: 결측치는 다 빼기

### 조건에 따라 배열 선택
sa2['comp_use'] = np.where(sa2['ASICPUSE'].isin([7, 8, 9]), np.nan, sa2['ASICPUSE'])

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\2517226205.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['comp_use'] = np.where(sa2['ASICPUSE'].isin([7, 8, 9]), np.nan, sa2['ASICPUSE'])

In [220]:
# 수면 시간(시간 단위): 결측치는 다 빼기

### 조건에 따라 배열 선택
sa2['sleep_hour'] = np.where(sa2['ASISLEEP'].isin([97, 98, 99]), np.nan, sa2['ASISLEEP'])

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\843183503.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['sleep_hour'] = np.where(sa2['ASISLEEP'].isin([97, 98, 99]), np.nan, sa2['ASISLEEP'])

In [221]:
sc2['CCONDRR6'].value_counts()

CCONDRR6
2    8252
1      15
9       1
7       1
Name: count, dtype: int64

In [222]:
# 결측치 2건 단순하게 NO로 반영하기
sc2['dm'] = np.where(sc2['CCONDRR6'].isin([7, 9]), 2, sc2['CCONDRR6'])

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\1171276200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc2['dm'] = np.where(sc2['CCONDRR6'].isin([7, 9]), 2, sc2['CCONDRR6'])

In [223]:
# 운동 여부 1: 주2회 이상 2: 안함

### 조건과 선택할 배열들 정의
condlist = [((sa2['VIGFREQW'] >= 2) & (sa2['VIGFREQW'] < 30)),
    (sa2['VIGFREQW'] == 95) | ((sa2['VIGFREQW'] >= 0) & (sa2['VIGFREQW'] <= 1)),
    ((sa2['MODFREQW'] >= 2) & (sa2['MODFREQW'] < 30)),
    (sa2['MODFREQW'] == 95) | ((sa2['MODFREQW'] >= 0) & (sa2['MODFREQW'] <= 1)),
    ((sa2['STRFREQW'] >= 2) & (sa2['STRFREQW'] < 30)),
    (sa2['STRFREQW'] == 95) | ((sa2['STRFREQW'] >= 0) & (sa2['STRFREQW'] <= 1))
    ]
choicelist = [1, 0, 1, 0, 1, 0]

### 조건에 따라 배열 선택
sa2['exercise'] = np.select(condlist, choicelist, default=np.nan)

C:\Users\abc\AppData\Local\Temp\ipykernel_25880\3050801277.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa2['exercise'] = np.select(condlist, choicelist, default=np.nan)

###  3. data merge

In [224]:
# need variables
fm3 = fm2[['HHX', 'FMX', 'live_alone', 'imbal_meal']]
sc3 = sc2[['HHX', 'FMX', 'FPX', 'SEX', 'AGE_P', 'REGION',
            'RACERPI2', 'height', 'weight', 'bmi', 'dm']]
sa3 = sa2[['HHX', 'FMX', 'FPX', 'SEX', 'AGE_P', 'REGION',
           'RACERPI2', 'height', 'weight', 'bmi', 'hypert',
           'chol', 'chdev', 'strev', 'depress', 'preg',
           'kidney', 'dm', 'smoke', 'drink', 'height', 'weight',
           'bmi', 'comp_use', 'sleep_hour', 'exercise']]

In [242]:
# child 구성하기
tmp = pd.merge(sc3, fm3, on = ['HHX', 'FMX'], how = 'left')
tmp2 = pd.merge(tmp, here, on = ['HHX', 'FMX'], how = 'left')

In [247]:
# 당뇨병 1: 진단을 받았거나, 유전적으로 존재하는 경우, 0: 그외

### 조건과 선택할 배열들 정의
condlist = [(tmp2['dm'] == 1),
            (tmp2['heredity'] == 1),
            (tmp2['dm'] == 0) | (tmp2['heredity'] == 0)]
choicelist = [1, 1, 0]

### 조건에 따라 배열 선택
tmp2['dm2'] = np.select(condlist, choicelist, default=np.nan)

In [249]:
tmp2.drop(['dm', 'heredity'], axis = 1).dropna()['dm2'].value_counts()

dm2
0.0    2110
1.0      20
Name: count, dtype: int64

In [228]:
tmp2['heredity'].value_counts()

heredity
0.0    6760
1.0      42
Name: count, dtype: int64

In [229]:
tmp2_dropna['heredity'].value_counts()

heredity
0.0    2115
1.0      13
Name: count, dtype: int64

- child의 정보에서 당뇨를 가려낼 dm변수와 당뇨 유전 가능성인 heredity의 변수가 현저히 적음 -> 모델링하기 부적합하다 판단됨.

In [240]:
# adult 구성하기
tp = pd.merge(sa3, fm3, on = ['HHX', 'FMX'], how = 'left')

# 1형 당뇨 환자 제거하기
adult = tp[tp['dm'] != 3]

# 결측치 있는 행 제거하기
a = adult.dropna()

In [251]:
# 당뇨병을 앓지 않은 사람이 많지만 대체적으로 정보가 많은 편
# 깔끔하게 만들어둔 데이터를 활용하기로 한다.
a['dm'].value_counts()

dm
0.0    3309
2.0     622
1.0     427
Name: count, dtype: int64

In [252]:
# 데이터 저장
a.to_csv("../Data/adult_use_data.csv", index = False)